@model EDDY.IS.WidgetProvider.Core.ComponentModels.GPQDFLightModel

@Html.Raw(Model.JavaScriptContents)

@foreach (var qdf in Model.TemplatePlacements)
{
    if (qdf.NoFontAwesome != "true")
    {
        <text>loadCss('@Model.FontAwesome', null);</text>
    }

    if (qdf.NoQDFLightCSS != "true")
    {
        <text>loadCss('@Model.QDFLightCSS', null);</text>
    }

    if(qdf.NoSelect2 != "true")
    { 
         <text>
            loadCss('@Model.Select2CSS', null);
            loadScript('@Model.Select2Js', function(){ $(".eddy-form-qdfplugin-container select.qdf-select2").select2({ width: "100%" }); });
        </text>
    }

    @if (!String.IsNullOrWhiteSpace(qdf.CSSModel))
    {
        @await Html.PartialAsync("~/WidgetTemplates/PartialViews/CustomCSS.cshtml", qdf.CSSModel)
    }

    <text>
        jQuery('#@qdf.RenderingDiv').append("
    </text>
    <div class='eddy-form-qdfplugin-container' data-id='qdfpluginStepContainer'>
        <div class='eddy-form-qdfplugin-header'>
            <div class='qdfplugin-header-content col-xs-7 col-xs-offset-0 col-sm-7 col-sm-offset-0'>
            </div>
        </div>
        <div class='eddy-form-qdfplugin-body col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 clearfix'>
            <form data-id='eddynexusform-qdfplugin' name='eddynexusform-qdfplugin' templateid='650' method='POST' action='javascript:void(0)' autocomplete='on'>
                <div id='@(qdf.RenderingDiv)_ErrorMessage' class='error-summary error'>&nbsp;</div>
                <div name='step' class='steps' data-id='Step'>
                    <div class='form-page-step-message' data-id='NameForStep1'>
                        <p>
                            @qdf.HeaderText
                        </p>
                    </div>

                    <fieldset name='section' class='sections' data-id='Section'>
                        @if (!String.IsNullOrEmpty(qdf.Template.SubHeading))
                        {
                            <legend>@qdf.Template.SubHeading</legend>
                        }

                        @foreach (var field in qdf.Template.Fields)
                        {
                            <div class='field-holder form-group @field.Code ' data-controlcode='@field.Code'>
                                @if (field.ControlType != QDFFieldType.Hidden)
                                {
                                    <label for='97912'> @field.Label </label>
                                }
                                @if (field.ControlType == QDFFieldType.Dropdown ||
                                    field.ControlType == QDFFieldType.DropdownMultiple)
                                {
                                    <select controltypename='Drop-Down'
                                            id='@(qdf.RenderingDiv + "_" + field.Code)' 
                                            class='select-field form-control qdf-select2' 
                                            @if(field.ControlType == QDFFieldType.DropdownMultiple) 
                                            { 
                                                <text>multiple='multiple'</text>
                                            }
                                            data-placeholder='@field.Watermark' 
                                            label-name='@field.Label'
                                            name='@field.FieldName'
                                            data-isrequired='@if (field.IsRequired)
											{ <text>yes</text> }
											else
											{ <text>no</text> }'
                                            data-dependenton='@if (field.Predecessors != null && field.Predecessors.Count > 0)
											{ @String.Join(",", field.Predecessors.Select(e => e.Code));
											}'
                                            onchange=\"@if (field.UpdateFields != null && field.UpdateFields.Count > 0)
											{
                                                 <text> qdfBindChange('</text>@qdf.RenderingDiv<text>','</text>@qdf.TrackId<text>',this,'</text>
                                                 @String.Join(",", field.UpdateFields)<text>','</text>
                                                 @qdf.IgnoreTrackId<text>')</text>

                                            }
                                            else
											{
                                                <text> checkClearError(this)</text>
											}\"
                                            >
                                        
                                        <option value='' key=''>@field.Watermark</option>
                                        
                                        @foreach (var option in field.Options)
										{
                                            <option value='@option.Id' @if (option.Selected)
											{ <text> selected</text>}>
                                                @option.Name
                                            </option>
										}
                                    </select>
								}
                                else if (field.ControlType == QDFFieldType.Hidden)
                                {
                                    <input type='hidden' id='@(qdf.RenderingDiv + "_" + field.Code)' name='@field.FieldName' value='@field.Value' />
                                }
                               else if (field.ControlType == QDFFieldType.Textbox)
								{
                                    <input type='text' id='@(qdf.RenderingDiv + "_" + field.Code)' name='@field.FieldName' value='@field.Value' 
                                        placeholder='@field.Watermark'
                                        onchange=\"@if (field.UpdateFields != null && field.UpdateFields.Count > 0)
										{

                                            <text> qdfBindChange('</text>@qdf.RenderingDiv<text>','</text>@qdf.TrackId<text>',this,'</text>
                                                @String.Join(",", field.UpdateFields)<text>','</text>
                                                 @qdf.IgnoreTrackId<text>')</text>
										}
                                        else if (field.DataType == QDFFieldDataType.Year)
                                        { 
                                            <text>checkYear(this)</text>
                                        }
										else
										{
                                            <text>checkClearError(this)</text>
										}\"       
                                    />
								}
                            </div>
                        }
                        @foreach (var field in qdf.AdditionalSettings)
                        {
                            <input type='hidden' id='@(qdf.RenderingDiv + "_" + field.Key)' name='@field.Key' value='@field.Value' />
                        }
                    </fieldset>
                </div>
            </form>
            <div class='eddy-form-qdfplugin-footer'>
                <div class='buttons-container'>
                    <div data-id='qdfplugin-form-submit-button' class='form-submit-button clearfix'
                         onclick=\"submitQdfAdStack('@qdf.RenderingDiv','@String.Join(',', qdf.Template.Fields.Select(f=> f.Code))', '@String.Join(',', qdf.AdditionalSettings.Select(f => f.Key))')\">
                        <div class='form-submit-button-inner'>
                            <span data-id='form-submit-button-label' class='form-submit-button-label'>
                                @if (!String.IsNullOrEmpty(qdf.ButtonText))
                                {@qdf.ButtonText;
                            }
                            else
                            { <text>FIND YOUR SCHOOL</text>}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <text>");</text>
}
